.VPContent {
  display: flex;
  flex-direction: column;
}

.VPPage {
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  background-color: var(--vp-c-gray-3);
}

.vp-doc th {
  text-align: center;
}

.vp-doc th, .vp-doc td {
  padding: 6px 10px;
}
